// Standard transition
@mixin transition($prop: all,$duration: .25s, $easing: ease, $delay: 0s) {
  -webkit-transition: $prop $duration $easing $delay;
  -moz-transition: $prop $duration $easing $delay;
  -o-transition: $prop $duration $easing $delay;
  transition: $prop $duration $easing $delay;
}


// Standard box-shadow, can be improved by giving parameters
@mixin box-shadow() {
  -webkit-box-shadow: 0px 4px 4px 0px rgba($black,0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba($black,0.25);
  box-shadow: 0px 4px 4px 0px rgba($black,0.25);
}