$_container_heigth: 900px;

$infobar_height: 00%;
$map_height: 70%;
$actionbar_height: 30%;



.trash-content-container {
  height: $_container_heigth;

  .center-items {
    text-align: center;
  }

}


.trash-info-bar {
  height: $infobar_height;
  background-color: green;
}

.trash-map {
  height: $map_height;
  margin: 0 -25px;
}


.trash-action-section {
  height: $actionbar_height;
  width: auto;
  //background-color: gray;


  .trash-btn-post {
    margin: 1em 0;
    width: 100%;
    font-size: 21px;
  }

  .conHeight {
    height: 160px;
  }


}

.ovl {
  font-size: 35px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 150px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.90);
  z-index: 2;
  cursor: pointer;
}
