.con-profile {
  background-color: #555555;
  height: 100%;
  width: 100%;
  .profile-avatar {

    background: #2A2A2A;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;

    .btn {
      background-color: #555555;
      width: 30%;
      color: greenyellow;
      margin: 10%;
    }
    .profile-img {
      width: 50%;
      //height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 80%;
        background-color: white;;
        border-radius: 100%;
        
      }

    }

  }
  .profile {
    padding: 10px;
    color:white;


  }
}
.score{
  padding: 10px;
  h3{
    color: greenyellow;

  }
  h1{
    color: greenyellow;

  }
  h2{
     color: greenyellow;
   }
  h4{
    color: greenyellow;
  }

}

