.con-profile {
  height: calc(100% - 120px);
  width: 100%;
  max-width: 600px !important;
  .profile-avatar {

    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;

    .btn {
      background-color: $green;
      width: 30%;
      color: $white;
      margin: 10%;
    }
    .profile-img {
      width: 50%;
      //height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(58, 192, 209, 0.8);
      border-radius: 100%;
      img {
        height: 110px;
        border-radius: 100%;
        
      }

    }

  }
}

