.con-profile {
  background-color: #555555;
  height: 100%;
  width: 100%;
  .profile-avatar {

    background: #2A2A2A;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;

    .btn{
      background-color: #555555;
      color:greenyellow;
      margin: 10%;
      height: 50%;
      margin-top: 10%
    ;
      //position: relative;
      //top: 50px;
      //right: 6%;
      vertical-align: bottom;
    }

    .profile-img {
      width: 100%;
      height: $spacer*5;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 80%;
        background-color: white;;
        border-radius: 100%;
        
      }
    }
  }
  .profile {
    padding: 10px;
    color:white;


  }
}

