.trashpedia {
  a {
    color: black;
  }

  a:hover {
    color: black;
    text-decoration: none;
  }

  h6 {
    text-align: center
  }

  button {
    padding-top: 0;
    padding-bottom: 0;
  }

  .container .row {
    .icon-bin {
      &.other {
        color: dimgray;
      }

      &.compostable {
        color: saddlebrown;
      }

      &.recycable {
        color: gold;
      }

      &.paper {
        color: royalblue;
      }

      &.big {
        text-align: center;
        font-size: 72px;
        padding-top: 20px
      }

      &.small {

      }
    }

    padding-bottom: 25px
  }

  .search-results {
    font-size: 10px;
  }
}

