.trashpedia {
  h6 {
    text-align: center
  }

  button {
    padding-top: 0;
    padding-bottom: 0;
  }

  .container .row {
    .col-6 .card .icon-bin {
      text-align: center;
      font-size: 72px;
      padding-top: 20px
    }

    padding-bottom: 25px
  }

  #dimgray {
    color: dimgray;
  }

  #saddlebrown {
    color: saddlebrown;
  }

  #gold {
    color: gold;
  }

  #royalblue {
    color: royalblue;
  }
}

